@font-face {
  src: url(fonts/VPPixel-Simplified.otf);
  font-family: pixel;
}

* {
  box-sizing: border-box;
  font-family: pixel;
  font-size: 48px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #63C4B2;
}
.screen {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  width: 90%;
  height: 20%;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 32px;
  border-top: 4px solid #9E9E9E;
  border-bottom: 4px solid #EBEBEB;
  border-left: 4px solid #9E9E9E;
  border-right: 4px solid #EBEBEB;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}
.history {
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: -10px;
  margin-right: 20px;
}
.display {
  font-size: 64px;
  align-self: b;
  height: 93px;
  margin: 0;
  margin-right: 20px;
  margin-top: -10px;
}
.clear, .del {
  font-size: 40px;
}
.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  font-weight: 400;
  border-bottom: 8px solid #9E9E9E;
  border-left: 8px solid white;
  border-right: 8px solid #9E9E9E;
  width: 500px;
  height: 650px;
  max-width: 95vmin;
  max-height: 90vmax;
}
.bar {
  margin-top: 50px;
  padding-left: 15px;
  width: 500px;
  max-width: 95vmin;
  max-height: 90vmax;
  font-size: 25px;
  background-color: #7D7D7D;
  border-top: 8px solid white;
  border-right: 8px solid #9E9E9E;
  border-left: 8px solid white;
}
.button-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 16%;
  background-color: #D9D9D9;
  border-top: 4px solid white;
  border-bottom: 4px solid #9E9E9E;
  border-left: 4px solid white;
  border-right: 4px solid #9E9E9E;
}
.evaluate {
  width: 48%;
  height: 16%;
}
button:hover {
  background-color: #cacaca
}
button:active {
  border-top: 4px solid rgb(160, 160, 160);
  border-bottom: 4px solid #3b3b3b;
  border-left: 4px solid rgb(160, 160, 160);
  border-right: 4px solid #3b3b3b;
  background-color: #7D7D7D;
  transform: translateY(4px);
}
@media only screen and (max-width: 768px) {
  .clear, .del, .toggle {
    font-size: 30px;
  }
  .bar{
    margin-top: 0px;
  }
}